<div class="row">
  <div class="card teal accent-4">
    <div class="card-content white-text">
      <span class="card-title pomodoro-title">
        #1 <%= image_tag("logo.png", class: "logo-img") %>
        <button class="btn waves-effect waves-light right"><i class="material-icons ">settings</i></button>
      </span>  
      <div class="timer">00:00:00</div>
    </div>
    <div class="card-action">
      <button id="btnStart" class="btn waves-effect waves-light">Start<i class="material-icons left">play_circle_outline</i></button>
      <button id="btnPause" class="btn waves-effect waves-light">Pause<i class="material-icons left">pause_circle_outline</i></button>
      <button id="btnStop" class="btn waves-effect waves-light">Stop<i class="material-icons left">stop_circle_outline</i></button>
    </div>
  </div>
  <div>
    <h1>Lista de Tarefas</h1>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @todo_lists.each do |todo_list| %>
          <tr>
            <td><%= todo_list.title %></td>
            <td><%= todo_list.description %></td>
            <td><%= link_to 'Show', todo_list %></td>
            <td><%= link_to 'Edit', edit_todo_list_path(todo_list) %></td>
            <td><%= link_to 'Destroy', todo_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
    <button><%= link_to 'Nova Lista de Tarefas', new_todo_list_path %></button>
  </div>
</div>

<%= render "stopwatch/index" %>
